/* body */

.home-card {
    box-shadow: 0 18px 150px -40px rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    width: 1000px;
    height: 500px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff10;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    overflow: hidden;

}

.home-card__desc {
    position: absolute;
    top: 24%;
    left: 8%;
    z-index: 2;
    width: 52%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-card__desc h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;

    /* Làm chữ gradient */
    background: linear-gradient(25deg,  rgba(4, 0, 49, 0.9), rgba(78, 0, 85, 0.7));
    background-clip: text;
    -webkit-background-clip: text;  
    color: transparent;
}
.home-card__desc p {
    font-size: 24px;
    margin-right: 150px;
    text-align: right;
    color: rgba(4, 0, 49, 0.95);
}

.home-card__rec {
    position: absolute;
    z-index: 1;
    top: -15%;
    left: -25%;
    width: 800px;
    height: 800px;
    rotate: 25deg;
    border-radius: 100px;
    display: flex;
    background: linear-gradient(140deg, rgba(255, 255, 255, 0.2) 35%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 12px 0 30px -10px rgba(13, 28, 39, 0.5);
}

.home-card__img {
    position: absolute;
    top: 45%;
    transform: translateY(-20%);
    right: 6%;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0);
    object-fit: cover;
    display: block;
    box-shadow: 0 0px 60px -5px rgba(13, 28, 39, 0.5);
}

.home-card__action {
    margin-top: 10px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.home-card__action > a {
    font-weight: bold;
    font-size: 22px;
    padding: 15px 0;
    min-width: 250px;
    border-radius: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.home-card__action .purple {
    background: linear-gradient(45deg, #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.35);
}

.home-card__action .purple:hover {
    box-shadow: 0 7px 30px rgba(120, 64, 190, 0.75);
}

/* meida query */

@media screen and (min-width: 576px) {
    .home-card__action>button:hover {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 768px) {

    .home-card__action > button {
        min-width: 170px;
    }
}

@media screen and (max-width: 576px) {

    .home-card {
        width: auto;
    }

    .home-card__action {
        flex-direction: column;
        gap: 1.5rem;
    }

    .home-card__action > button {
        min-width: inherit;
        width: 100%;
        min-width: 350px;
    }

}
